*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-header-link,
.address {
  display: none;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* header */

.header-section {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  color: #2e2f42;
}

.header-logo-link {
  padding: 16px 0;
}

.mobile-menu-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon-menu {
  display: block;
  fill: #2f2f37;
}

/* mobile menu */

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.menu-btn-icon {
  fill: #2e2f42;
}

.menu-nav-link {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus .menu-nav-link.menu-current:focus {
  color: #404bbf;
}

.menu-address {
  font-style: normal;
  margin-bottom: 48px;
}
.menu-nav-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: #404bbf;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-item {
  width: 40px;
  height: 40px;

  align-items: center;
}

.social-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-icon {
  fill: #f4f4fd;
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: #404bbf;
}

/* Hero section */

.first-section-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/desktop/hero-desk@1x-min.jpg);
  padding: 72px 0px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  height: 432px;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-mob@2x-min.jpg);
  }
}

.first-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 216px;
}

.first-section-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  text-align: center;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover,
.first-section-btn:focus {
  background-color: #404bbf;
}

/* Second section */

.box-icon {
  display: none;
}

.section-two {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.third-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-box {
  padding: 32px 0;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.card-box .social-link {
  gap: 24px;
}

/* Our Portfolio */

.section-four {
  padding: 96px 0;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.portfolio-card {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .text-overlay {
  transform: translatey(0);
}

.portfolio-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-two {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer  */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-section {
  margin-bottom: 72px;
}

.footer-logo-div {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  margin: 0;
}

.footer-social {
  width: 208px;
  height: 80px;
  margin-bottom: 72px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-social-link {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
  width: 40px;
  height: 40px;
  align-items: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

.footer-input-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-label {
  margin-bottom: 16px;
}

.footer-input-box {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  opacity: 0.3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input-box::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-input-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal overlay  */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  border-radius: 50%;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus .modal-btn-icon,
.modal-btn-close:hover .modal-btn-icon {
  fill: #ffffff;
}

.modal-text-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 256px;
  margin-bottom: 8px;
}

.modal-input:nth-child(4) {
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-cont {
  position: relative;
}

.modal-input-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-box:focus {
  border-color: #4d5ae5;
}

.modal-input-box:focus + .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  padding: 3px 0px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-box::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea {
  width: 100%;
  padding: 8px 16px;
  width: 256px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-check {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.check-box {
  flex-shrink: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check:checked + .check-text .check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }

  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .header-logo-link {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-header-link {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .nav-link:hover,
  .nav-link:focus .nav-link.current:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    margin-left: auto;
    display: block;
  }

  .nav-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /* Hero section */

  .first-section {
    padding: 112px 0px;
    max-width: 768px;
    height: 436px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/hero-tab@2x-min.jpg);
    }
  }

  .first-section-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  /* Second section */

  .second-title {
    text-align: start;
  }

  .second-section {
    column-gap: 24px;
  }

  .second-list {
    width: calc((100% - 24px) / 2);
  }

  /* section team */

  .third-container {
    gap: 24px;
    row-gap: 64px;
  }

  /* Our Portfolio */

  .portfolio-container {
    row-gap: 72px;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }

  /* footer  */

  .footer-cont {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 92px;
  }

  .footer-section {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-logo-div {
    justify-content: start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-text {
    justify-content: start;
  }

  .footer-input {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .footer-social {
    margin: 0;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-label {
    margin-bottom: 0;
  }

  .footer-input-box {
    width: 264px;
  }

  /* Modal overlay  */

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input-box {
    width: 360px;
    padding-left: 34px;
  }

  .input-icon {
    width: 18px;
    height: 24px;
  }

  .modal-input-box::placeholder {
    opacity: 0.5;
  }

  .modal-textarea {
    width: 360px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-logo-link {
    margin-right: 76px;
  }

  .nav-address {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Hero section */

  .first-section {
    padding: 188px 0px;
    max-width: 1440px;
    height: 600px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/hero-desk@2x-min.jpg);
    }
  }

  /* Second section */

  .box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .second-text {
    font-weight: 400;
  }

  .second-list {
    width: calc((100% - 72px) / 4);
  }

  /* section team */

  .third-container {
    row-gap: 48px;
  }

  /* Our Portfolio */

  .portfolio-container {
    row-gap: 48px;
  }

  .portfolio-card {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }

  /* footer  */

  .footer {
    padding: 100px 0;
  }

  .footer-cont {
    display: flex;
    align-items: baseline;
    padding-left: 0;
  }

  .footer-section {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-logo-div {
    display: inline-block;
  }

  .footer-social {
    margin: 0 80px 0 0;
  }

  .footer-input-box {
    width: 264px;
    opacity: 1;
  }

  /* Modal overlay  */

  .modal-input {
    width: 360px;
    margin-bottom: 8px;
  }

  .modal-input-box {
    width: 100%;
    padding-left: 38px;
  }

  .modal-textarea {
    padding: 8px 16px;
  }
}
